<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bartec.WasteCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthenticationAPIWebServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="AuthenticationAPIWebServiceSoap1"/>
        <binding name="WasteCollectorAPIWebServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="WasteCollectorAPIWebServiceSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="AuthenticationAPIWebServiceSoap" contract="Auth.AuthenticationAPIWebServiceSoap" name="AuthenticationAPIWebServiceSoap"/>
      <endpoint binding="basicHttpBinding" bindingConfiguration="WasteCollectorAPIWebServiceSoap" contract="Service.WasteCollectorAPIWebServiceSoap" name="WasteCollectorAPIWebServiceSoap"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Bartec.WasteCollector.Properties.Settings>
      <setting name="AuthenticationUri" serializeAs="String">
        <value/>
      </setting>
      <setting name="WasteCollectorServiceUri" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServiceUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServicePassword" serializeAs="String">
        <value/>
      </setting>
    </Bartec.WasteCollector.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
